.main-nav ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

.top-header {
  display: flex;
  flex-direction: row;
}

.main-body {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-gap: 10px;
  min-height: 500px;
}

.main-body article {
  border: solid 5px black;
  background: gray;
  background: url(content/image.jpeg);
  background-size: cover;
  background-position: bottom right;
  padding: 50px;
}

.main-body article:nth-of-type(1) {
  grid-column: 1/5;
  grid-row: 1/4;
}

.main-body article:nth-of-type(2) {
  grid-column: span 2;
  grid-row: 1/3;
}

.main-body article:nth-of-type(3) {
  grid-column: span 2;
  grid-row: 1/3;
}

.main-body article:nth-of-type(4) {
  grid-column: span 4;
  grid-row: 4/6;
}

.main-body article:nth-of-type(5) {
  grid-column: span 4;
  grid-row: 3/6;
}

@media (max-width: 1024px) {
  .main-body {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-gap: 10px;
    min-height: 500px;
  }

  .main-body article:nth-of-type(1) {
    grid-column: 1/3;
    grid-row: 1/3;
  }

  .main-body article:nth-of-type(2),
  .main-body article:nth-of-type(3),
  .main-body article:nth-of-type(4),
  .main-body article:nth-of-type(5) {
    grid-column: span 1;
    grid-row: span 1;
  }
}

@media (max-width: 768px) {
  .main-body {
    display: grid;
    grid-template-columns: 80vw;
    grid-template-rows: 80vw;
    grid-auto-flow: column;
    grid-auto-columns: 80vw;
    overflow-x: auto;
  }
  .main-body article:nth-of-type(1),
  .main-body article:nth-of-type(2),
  .main-body article:nth-of-type(4),
  .main-body article:nth-of-type(5) {
    grid-column: span 1;
    grid-row: span 1;
  }
  .main-body article:nth-of-type(3) {
  }
}
